html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.App {
  text-align: center;
}

/* Style for the main contents  */
.content-main {
  padding: 20px;
}

.content-title {
  margin: 0;
}

/* Main Card body */
.card {
  border: none;
  margin-bottom: 20px;
  overflow: hidden;
}

.card-header {
  background-color: #ffffff;
  border-bottom: 1px solid #dee2e6;
  overflow-y: auto;
}

.card-body {
  padding: 20px;
}

.row {
  margin-bottom: 20px;
}

/* Flex container to ensure the content is laid out properly */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  padding: 15px;
}

/* Flex container for the table and pagination */
.flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;
  padding: 15px;
}

.form-container {
  border: 1px solid #dee2e6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
  .form-container {
    padding: 15px;
  }
}


/* Make the table responsive */
.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

/* Ensure table cells wrap text properly */
.table th,
.table td {
  text-align: left;
  padding: 8px;
  white-space: nowrap;
}

/* Add some borders for clarity */
.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

/* Hover effect */
.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

/* Pagination styling */
.pagination-container {
  margin-top: 10px;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.pagination .page-item .page-link {
  cursor: pointer;
}

/* Pagination item styling */
.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
}

.page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {

  .table th,
  .table td {
    font-size: 14px;
  }

  .flex-container {
    padding: 10px;
  }
}

/* Style for search bar */
.search-container {
  max-width: 500px;
  width: 100%;
}

.form-control {
  border-radius: 25px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  outline: none;
}